.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.icon {
  margin-right: 5px;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }

  th,
  td {
    white-space: nowrap;
  }

  .table-container {
    overflow-x: scroll;
    display: block;
    width: 100%;
  }

  tbody {
    display: block;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
  }

  th,
  td {
    padding: 0.5rem;
    text-align: center;
  }

  th {
    display: none;
  }

  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
    color: #555;
  }

  td:last-child {
    border-bottom: 0;
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "ExpenseName";
  }
  td:nth-of-type(2):before {
    content: "Amount";
  }
  td:nth-of-type(3):before {
    content: "Category";
  }
  td:nth-of-type(4):before {
    content: "Edit";
  }
  td:nth-of-type(5):before {
    content: "Delete";
  }
}
